{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h1>Opps. Page not Found (404)</h1>
        <p>That page does not Exist, please try a different location</p>
    </div>
{% endblock content %}
