{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h1>You do not have Permission to do that (403)</h1>
        <p>Please check your account and try again</p>
    </div>
{% endblock content %}