{% extends "layout.html" %}

{% block content %}

    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="userimage.jpg">
        <div class="media-body">
          <h2 class="account-heading">Username</h2>
          <p class="text-secondary">username@email.com</p>
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">post.author</a>
          <small class="text-muted">post.date_posted</small>
        </div>
        <h2><a class="article-title" href="#">post.title</a></h2>
        <p class="article-content">post.content</p>
      </div>
    </article>


    <main role="main" class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div>
        <div class="col-md-8">
          <h1> class container - main </h1>




        </div>
      </div>
    </main>


<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="userimage.jpg">
    <div class="media-body">
      <h2 class="account-heading">Username</h2>
      <p class="text-secondary">username@email.com</p>
    </div>
  </div>
  <!-- FORM HERE -->
</div>



{% endblock %}

